.box {
    border: 1px solid orange;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.search {
    background-color: rgb(218, 217, 217);
}

.foods {
    background-color: rgb(218, 217, 217);
}

.name-1st {
    display: flex;
    color: orange;
}

.name-2nd {
    color: rgb(54, 53, 53);
    font-weight: 800;
    font-style: bold;
}